{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main.min.css' %}">
</head>
<body class="bg-slate-200">

{% include 'core/includes/navigation.html' %}


<div>
    {% if messages %}
    <div class="container mx-auto max-w-3xl mt-8">


        {% for message in messages %}

        {% if message.tags == 'error' %}
        <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
            <span class="font-medium">Erro!</span> {{ message }}
        </div>
        {% endif %}

        {% if message.tags == 'success' %}
        <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50" role="alert">
            {{ message }}
        </div>
        {% endif %}

        {% endfor %}


    </div>
    {% endif %}

    {% block content %}{% endblock %}
</div>


</body>
</html>